:root {
    --dark-orange: #d44c2c;
    --light-orange: #ddb59a;
    --dark-green: #083714;
    --light-green: #6c8c74;
    --white-green: #ececdc;
    --green: #244c24;
    --text-white: #ffffff;
    --dark-green-alpha: rgba(36, 76, 36, 0.6);
    --light-green-alpha: rgba(108, 140, 116, 0.3);
}

body {
    margin: 5px 50px;
    padding: 0;
}

/* HERO SECTION */
#hero-section {
    /* background image css for hero section */
    background-image:  url("images/mountain_and_boats.jpg");
    /* background-image: url("images/mountain_and_boats.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-heading {
    color: var(--text-white);
    font-size: 3em;
    text-shadow: 0 0 2px var(--white-green);
    /* offset-x offset-y blur-radius color */

    /* Styling background */
    padding: 20px;
    background-color: #083714;
    border-radius: 10px;
    border: 1px solid var(--white-green);
    /* width style color */

    margin: 0 0 20px 0;
}

#hero-desc {
    color: black;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0 0 1px var(--light-green);

    /* Styling background */
    padding: 10px;
    background-color: var(--white-green);
    border-radius: 10px;
    width: 50%;

    margin: 0;

}

/* VISIT SECTION */
#visit-section {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--light-green);
    padding: 10px 50px 70px;
}

#visit-heading {
   text-align: center;
}

#places-container {
    display: flex;
}

.place-card {
    padding: 20px 30px;
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-card:hover {
    border: 1px solid var(--dark-green);
}

/* VISIT SECTION - IMAGES */
.visit-img {
    border: 1px solid black;
    width: 110px;
    height: 110px;
    border-radius: 100px;

}

#saigon-img {
    background-image: url("images/city_lights.jpg");
    background-size: cover;
    background-position: center;
}

#danang-img {
    background-image: url("images/golden_hand.jpg");
    background-size: cover;
    background-position: center;
}

#hue-img {
    background-image: url("images/vibrant_streets.jpg");
    background-size: cover;
    background-position: center;
}

/* VISIT SECTION - NAME & DESCRIPTION */
.place-name {
    margin: 25px 0 15px 0;
}

.visit-desc {
    margin: 0;
    width: 65%;
    text-align: center;
}

/* GUIDE SECTION */
#guide-section {
    background-color: var(--light-orange);
    border-bottom: 10px solid var(--dark-orange);
    border-radius: 10px;
    padding: 20px 30px;

    width: 500px;
    height: 200px;
    margin: 100px auto;

    display: flex;
}

#guide-img {
    /* border: 1px solid black; */
    width: 35%;
    margin-right: 20px;

    background-image: url("images/profile_pic.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

/* GUIDE SECTION - guide info*/

#guide-info {
    width: 65%;
    text-align: center;
}

#guide-heading {
    margin: 0;
}

#guide-desc {
    margin: 40px 0 25px;
}

#guide-name {
    margin: 0;
}
